body {
  height: 100%;
  background-image: linear-gradient(to bottom, #d7d2cc 0%, #304352 100%);
  min-width: 700px;
}

h1, h2, h3 {
  font-family: 'Unica One', Helvetica, Verdana, sans-serif;
  margin: 0;
}

p {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 0;
}

h2 {
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.banner {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.red-triangle {
  grid-row-start: 2;
  grid-column-start: 11;
	width: 0;
	height: 0;
	border-top: 90px solid transparent;
	border-right: 160px solid rgb(236, 9, 40);
	border-bottom: 90px solid transparent;
  transform: rotate(-40deg);
}

.red-triangle img {
  width: 150px;
  transform: rotate(40deg);
  position: absolute;
  top: -57px;
  left: 34px;
}

.green-circle {
  grid-row-start: 0;
  grid-column-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 0;
  background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  border-radius: 50%;
  z-index: 0;
}

.green-circle h1 {
  font-size: 100px;
  color: rgba(255, 224, 156);
  text-shadow: 2px 2px black;
}

.yellow-circle {
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  margin: 0;
  background: rgba(255, 224, 156, 0.90);
  border-radius: 50%;
  z-index: 1;
}

.banner-image {
  grid-row-start: 2;
  grid-column-start: 3;
  width: 500px;
  border-radius: 50%;
}

.yellow-rectangle {
  grid-row-start: 6;
  grid-column-start: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 190px;
  height: 100px;
  border: none;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255, 224, 156, 0.90);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: 1;
}

.yellow-rectangle h2, .yellow-rectangle h3 {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

.business-details {
  grid-row: 6 / span 2;
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 260px;
  height: 170px;
  padding-left: 15px;
  border: 2px dotted #253b4b;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  z-index: -1;
}

.menu-section {
  display: block;
  width: 900px;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px dotted #253b4b;
  border-radius: 5px;
  padding: 0 25px 20px;
  margin-bottom: 100px;
  min-width: 700px;
  max-width: 900px;
}

.menu h1 {
  font-size: 36px;
  margin: 20px 0 0;
}

.menu h2 {
  margin-top: 10px;
}

.menu h3 {
  margin: 10px 0;
}

.starters {
  padding-right: 50px;
}
